<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyectointegrador">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".confirmarEliminacionRegistro"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityConsultarRegistro"
            android:label="@string/ActivityConsultarRegistro_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".newRegister"
            android:label="@string/ActivityNewRegister_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".registrosGuardados"
            android:label="@string/ActivityRegistrosGuardados_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityEditarRegistro"
            android:label="@string/ActivityEditarRegistro_title"
            android:parentActivityName=".activityConsultarRegistro" />
        <activity
            android:name=".ActivityRegistroActualizado"
            android:label="@string/ActivityConsultarRegistro_title"
            android:parentActivityName=".activityConsultarRegistro" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>